In [1]:
#Goal: Have customers narrow their travel searches based on temp and precipitation
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
weather_data_df=pd.read_csv("data/WeatherPy_Database.csv")
weather_data_df

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rainfall,Snowfall,Wind Speed
0,0,Leshukonskoye,96,RU,overcast clouds,2020-06-22 05:17:51,46,64.90,45.76,57.06,0.0,0,9.10
1,1,Tasiilaq,90,GL,overcast clouds,2020-06-22 05:17:51,70,65.61,-37.64,48.20,0.0,0,2.24
2,2,Tessalit,16,ML,few clouds,2020-06-22 05:17:51,12,20.20,1.01,87.64,0.0,0,6.78
3,3,Jamestown,20,US,few clouds,2020-06-22 05:13:42,88,42.10,-79.24,68.00,0.0,0,4.70
4,4,Gat,0,IL,clear sky,2020-06-22 05:17:02,80,31.61,34.76,78.01,0.0,0,5.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,Ucluelet,69,CA,broken clouds,2020-06-22 05:20:06,82,48.93,-125.55,55.99,0.0,0,6.24
570,570,Blackwater,0,AU,clear sky,2020-06-22 05:20:13,36,-23.58,148.88,70.61,0.0,0,9.64
571,571,Vila Velha,0,BR,clear sky,2020-06-22 05:20:13,93,-20.33,-40.29,66.00,0.0,0,7.05
572,572,Corner Brook,75,CA,broken clouds,2020-06-22 05:20:14,81,48.97,-57.95,53.60,0.0,0,11.41
573,573,Santa Maria Do Suacui,1,BR,clear sky,2020-06-22 05:20:14,94,-18.19,-42.41,56.34,0.0,0,2.04

In [3]:
weather_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Date                    object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rainfall               float64
Snowfall                 int64
Wind Speed             float64
dtype: object

In [4]:
#configure gmaps to use the appropriate key
gmaps.configure(api_key=g_key)

In [5]:
#Confuguring inputs 
min_temp=float(input("What is the minimum temperature you would like for your vacation?"))
max_temp=float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?50
What is the maximum temperature you would like for your vacation?90

In [6]:
#Ask if they would like it to rain 
rain_check=input("Would you like it to be raining? (yes/no)")

Would you like it to be raining? (yes/no)no

In [7]:
#Do the same for snow 
snow_check=input("Would you like it to be snowing? (yes/no)")

Would you like it to be snowing? (yes/no)no

In [8]:
#performing the conditionals for rain check and snow check with min and max temps
#starting if loop and developing the loop with elifs for other criteria to be met
if rain_check == "no" and snow_check == "no":
    resulting_cities=weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) &
                                        (weather_data_df["Max Temp"] >= min_temp) &
                                        (weather_data_df["Rainfall"] == 0) &
                                        (weather_data_df["Snowfall"] == 0)]
elif rain_check == "no" and snow_check == "yes":
    resulting_cities=weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) &
                                    (weather_data_df["Max Temp"] >= min_temp) &
                                    (weather_data_df["Rainfall"] == 0) &
                                    (weather_data_df["Snowfall"] > 0.0)]
elif rain_check == "yes" and snow_check == "no":
    resulting_cities=weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) &
                                    (weather_data_df["Max Temp"] >= min_temp) &
                                    (weather_data_df["Rainfall"] > 0.0) &
                                    (weather_data_df["Snowfall"] == 0)]
else:
    resulting_cities=weather_data_df.loc[(weather_data_df["Max Temp"] <= max_temp) &
                                    (weather_data_df["Max Temp"] >= min_temp) &
                                    (weather_data_df["Rainfall"] > 0.0) &
                                    (weather_data_df["Snowfall"] > 0.0)]

In [9]:
#checking results
resulting_cities.count()

City_ID                406
City                   406
Cloudiness             406
Country                403
Current Description    406
Date                   406
Humidity               406
Lat                    406
Lng                    406
Max Temp               406
Rainfall               406
Snowfall               406
Wind Speed             406
dtype: int64

In [10]:
#Display top ten cities
resulting_cities.head(10)

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rainfall,Snowfall,Wind Speed
0,0,Leshukonskoye,96,RU,overcast clouds,2020-06-22 05:17:51,46,64.90,45.76,57.06,0.0,0,9.10
2,2,Tessalit,16,ML,few clouds,2020-06-22 05:17:51,12,20.20,1.01,87.64,0.0,0,6.78
3,3,Jamestown,20,US,few clouds,2020-06-22 05:13:42,88,42.10,-79.24,68.00,0.0,0,4.70
4,4,Gat,0,IL,clear sky,2020-06-22 05:17:02,80,31.61,34.76,78.01,0.0,0,5.97
5,5,Vaini,40,TO,scattered clouds,2020-06-22 05:16:16,88,-21.20,-175.20,80.60,0.0,0,4.70
6,6,Atuona,29,PF,scattered clouds,2020-06-22 05:17:53,76,-9.80,-139.03,80.28,0.0,0,14.12
7,7,Orbetello,3,IT,clear sky,2020-06-22 05:17:53,82,42.44,11.22,69.01,0.0,0,4.70
11,11,Beruwala,100,LK,overcast clouds,2020-06-22 05:17:54,71,6.48,79.98,84.85,0.0,0,13.09
12,12,Salalah,75,OM,broken clouds,2020-06-22 05:17:54,79,17.02,54.09,84.20,0.0,0,6.93
13,13,Hithadhoo,97,MV,overcast clouds,2020-06-22 05:17:54,66,-0.60,73.08,84.43,0.0,0,7.70

In [11]:
#drop null values
resulting_cities=resulting_cities.dropna()
resulting_cities

,City_ID,City,Cloudiness,Country,Current Description,Date,Humidity,Lat,Lng,Max Temp,Rainfall,Snowfall,Wind Speed
0,0,Leshukonskoye,96,RU,overcast clouds,2020-06-22 05:17:51,46,64.90,45.76,57.06,0.0,0,9.10
2,2,Tessalit,16,ML,few clouds,2020-06-22 05:17:51,12,20.20,1.01,87.64,0.0,0,6.78
3,3,Jamestown,20,US,few clouds,2020-06-22 05:13:42,88,42.10,-79.24,68.00,0.0,0,4.70
4,4,Gat,0,IL,clear sky,2020-06-22 05:17:02,80,31.61,34.76,78.01,0.0,0,5.97
5,5,Vaini,40,TO,scattered clouds,2020-06-22 05:16:16,88,-21.20,-175.20,80.60,0.0,0,4.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,Ucluelet,69,CA,broken clouds,2020-06-22 05:20:06,82,48.93,-125.55,55.99,0.0,0,6.24
570,570,Blackwater,0,AU,clear sky,2020-06-22 05:20:13,36,-23.58,148.88,70.61,0.0,0,9.64
571,571,Vila Velha,0,BR,clear sky,2020-06-22 05:20:13,93,-20.33,-40.29,66.00,0.0,0,7.05
572,572,Corner Brook,75,CA,broken clouds,2020-06-22 05:20:14,81,48.97,-57.95,53.60,0.0,0,11.41
573,573,Santa Maria Do Suacui,1,BR,clear sky,2020-06-22 05:20:14,94,-18.19,-42.41,56.34,0.0,0,2.04

In [12]:
#making new dataframe to set up for markers by copying resulting dataframe and adding hotel name column
hotel_markers_df=resulting_cities[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_markers_df["Hotel Name"]=""
hotel_markers_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0   Leshukonskoye      RU     57.06  64.90   45.76
2        Tessalit      ML     87.64  20.20    1.01
3       Jamestown      US     68.00  42.10  -79.24
4             Gat      IL     78.01  31.61   34.76
5           Vaini      TO     80.60 -21.20 -175.20
6          Atuona      PF     80.28  -9.80 -139.03
7       Orbetello      IT     69.01  42.44   11.22
11       Beruwala      LK     84.85   6.48   79.98
12        Salalah      OM     84.20  17.02   54.09
13      Hithadhoo      MV     84.43  -0.60   73.08

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_markers_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"]=f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_markers_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
#checking results
hotel_markers_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Leshukonskoye,RU,57.06,64.90,45.76,Gostinitsa Mup Zhkkh
2,Tessalit,ML,87.64,20.20,1.01,
3,Jamestown,US,68.00,42.10,-79.24,Hampton Inn & Suites Jamestown
4,Gat,IL,78.01,31.61,34.76,×¨×’×¢ ×‘× ×—×ª
5,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
6,Atuona,PF,80.28,-9.80,-139.03,Villa Enata
7,Orbetello,IT,69.01,42.44,11.22,Argentario Golf Resort & Spa
11,Beruwala,LK,84.85,6.48,79.98,The Eden Resort & Spa
12,Salalah,OM,84.20,17.02,54.09,HAMDAN PLAZA HOTEL
13,Hithadhoo,MV,84.43,-0.60,73.08,Scoop Guest House

In [18]:
#creating the csv file to store in 
hotel_data_file="data/WeatherPy_Vacation.csv"
hotel_markers_df.to_csv(hotel_data_file, index_label="City_ID")

In [19]:
vacation_hotel_df=pd.read_csv("data/WeatherPy_Vacation.csv")
vacation_hotel_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,0,Leshukonskoye,RU,57.06,64.90,45.76,Gostinitsa Mup Zhkkh
1,2,Tessalit,ML,87.64,20.20,1.01,NaN
2,3,Jamestown,US,68.00,42.10,-79.24,Hampton Inn & Suites Jamestown
3,4,Gat,IL,78.01,31.61,34.76,×¨×’×¢ ×‘× ×—×ª
4,5,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort

In [21]:
#adding hotel marks to map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_hotel_df.iterrows()]
locations=vacation_hotel_df[["Lat", "Lng"]]
# Add a heatmap of temperature for the vacation spots.
max_temp = vacation_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))